/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/* variables */
:root {
  /* colors */
  --color-primary: hsl(245, 75%, 52%);
  --color-primary-50: hsl(245, 75%, 52%, 0.5);
  --color-primary-light: hsl(225, 100%, 94%);
  --color-neutral-very-light: hsl(225, 100%, 98%);
  --color-neutral-light: hsl(224, 23%, 55%);
  --color-neutral-dark: hsl(223, 47%, 23%);
  --color-white: hsl(0, 0%, 100%);
  /* typography */
  --font-family: "Red Hat Display", sans-serif;
  --font-size: 1rem;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  /* spacer */
  --spacer: 1rem;
  --spacer-sm: 0.5rem;
  --spacer-lg: 1.5rem;
  --spacer-xl: 2rem;
  --spacer-xxl: 3rem;
  /* box shadow */
  --box-shadow: 0 2rem 2rem hsla(245, 75%, 52%, 0.2);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

/* general styles */
body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  color: var(--color-neutral-light);
  text-align: center;
  line-height: 1.6;
  background: var(--color-primary-light);
  background-image: url("./images/pattern-background-desktop.svg");
  background-size: contain;
  background-position: top left;
  background-repeat: repeat-x;
}

main {
  display: grid;
  place-items: center;
  padding: var(--spacer);
  height: 100vh;
}

.card {
  max-width: 28rem;
  background: var(--color-white);
  border-radius: var(--spacer);
  box-shadow: var(--box-shadow);
}
.card__image img {
  border-radius: var(--spacer) var(--spacer) 0 0;
}
.card__content {
  padding: var(--spacer-lg);
}
.card__content h1 {
  font-size: 1.4rem;
  font-weight: var(--fw-900);
  color: var(--color-neutral-dark);
  margin-bottom: var(--spacer-sm);
}
.card__content header p {
  margin-top: var(--spacer-lg);
  padding: 0 var(--spacer);
}
.card__plan {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--color-neutral-very-light);
  padding: var(--spacer);
  border-radius: var(--spacer);
}
.card__plan h2 {
  font-size: 0.9rem;
  font-weight: var(--fw-900);
  color: var(--color-neutral-dark);
}
.card__plan img {
  width: 3rem;
  height: 3rem;
}
.card__plan a {
  font-size: 0.875rem;
  font-weight: var(--fw-700);
  color: var(--color-primary);
}
.card__plan a:hover {
  text-decoration: underline;
  color: var(--color-primary-50);
}
.card footer .button {
  box-shadow: var(--box-shadow);
  margin-top: var(--spacer);
  border: none;
  padding: var(--spacer-sm);
  border-radius: var(--spacer-sm);
  width: 100%;
  color: var(--color-white);
  background: var(--color-primary);
  font-weight: var(--fw-900);
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s;
}
.card footer .button:hover {
  background: var(--color-primary-50);
}
.card footer a {
  display: block;
  margin-top: var(--spacer-lg);
  color: var(--clr-neutral-light);
  text-decoration: none;
  font-weight: var(--fw-700);
}
.card footer a:hover {
  color: var(--color-neutral-dark);
}

@media (min-width: 40rem) {
  .card__content {
    padding: var(--spacer-xl) var(--spacer-xxl);
  }
  .card h1 {
    font-size: 1.75rem;
  }
  .card__header p {
    padding: 0 var(--spacer-xl);
  }
  .card__plan h2 {
    font-size: 1rem;
  }
  .card footer .button {
    padding: var(--spacer);
  }
}/*# sourceMappingURL=main.css.map */